#slideShow 
{
    position: relative;
    width: 384px;
    height: 307px;
}
#slideShow img
{
    position: absolute;
    opacity: 0;
    width: 384px;
    
    transition: 1s;
}
#slideShow .current
{
    width: 500px;
    opacity: 1;
    margin-left: 50px;
    transition: 2s;
}